
body {
  font-family: 'Maitree', serif;
  color: #352E0C;
  font-size: 16px;
  line-height: 1.8;
}

#navbar {
  background-color: #352E0C;
  position: fixed; /* Make it stick/fixed */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the links inside the navigation bar */
#navbar a {
  float: left;
  color: #FBE7BC;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 14px;
  overflow: auto;
  line-height: 1.0;
}

hr {
  width: 300px;
  margin-left: 30px;
}

p {
  margin-left: 30px;
  margin-right: 30px;
}

p.footnote {
  font-size: 13px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.thaifootnotequote {
    font-size: 12.5px;
    margin: 80px;
    margin-right: 80px;
      margin-top: 0px;
      margin-bottom: 0px;
}

sup {
  color: #AC6432;
}

/* Change the color of links on hover */
#navbar a:hover {
  background-color: #6F892C;
  color: #352E0C;
}

h2 {
  margin-bottom: 0px;
}

h2.index {
  margin-bottom: 20px;
}

h3 {
margin-top: 0px;
margin-bottom: 0px;
}

a:link{
  text-decoration: none;
  color: #AC6432;
}
a:visited{
  color: #AC6432;
}
a:hover{
  color: #6F892C;
}
a:focus{
  color: #AC6432;
}
a:active{
  color: #AC6432;
}

table {
  border-spacing: 30px 10px;
  table-layout: fixed ;
  width: 100% ;
}

col.second {
  font-size: 14.5px;
  line-height: 1.7;
}

table.index {
  border-spacing: 30px 0px;
}

abbr {
  color: #6F892C;
}

abbr.question {
  color: #AC6432;
}

td.eng {
  font-size: 14px;
  line-height: 1.6;
}

abbr.error {
  color: #FF0000;
}

td.highlight {
  color: #6F892C;
  font-size: 18px;
}

table td, table td * {
  vertical-align: top;
}

table.indent td:first-child {
  text-indent: 50px;
}

body {
  background-image: url("../images/ricepaper2.png")
}

#tooltip {
    text-align: left;
    color: #FBE7BC;
    background: #352E0C;
    position: absolute;
    z-index: 100;
    padding: 15px;
    font-size: smaller;
}

#tooltip:after { /* triangle decoration */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #352E0C;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}
